<section class="game-wrapper" ng-controller="HomeController">
	<div class="params">
		<div class="grid-size-wrapper">
			<label>Enter grid size:</label>
			<input type="number" ng-model="M" class="grid-size">
		</div>
		<div class="n-wrapper">
			<label>Enter N:</label>
			<input type="number" ng-model="N" class="n">
		</div>
		<div class="chances-wrapper">
			<label>How many chances?:</label>
			<input type="number" ng-model="chances" class="chances">
		</div>
	</div>
	<div class="time-claim-wrapper">
		<label>How many seconds will you take?:</label>
		<input type="number" ng-model="claim" class="time-claim">
	</div>
	<div class="countdown-label">Countdown:</div>
	<div class="countdown-wrapper">
		<div class="time-ss">{{Math.floor(T/1000)}}</div>
	</div>
	<div class="grid-wrapper">
		<div ng-repeat="row in [] | range:M" ng-style="getRowStyle($index)" class="cell-row">
			<div ng-repeat="col in [] | range:M" class="cell" ng-style="getCellStyle($index, $parent.$index)" ng-click="discard($index, $parent.$index)" decolorize></div>
		</div>
	</div>
	<div class="success-message" ng-show="success">
		<div>You completed the game with <span ng-show="Math.floor(T/1000)">{{Math.floor(T/1000)}}s and</span> {{T%1000}}ms to spare. Congrats! You won the game!</div>
		<div class="close-btn-wrapper"><button class="btn" ng-click="success=null; reset();">Close</button></div>
	</div>
	<div class="failure-message" ng-show="failure">
		<pre>Oh no..! you did not make it..!</pre>
		<pre ng-show="chances == 0">You lost the game!</pre>
		<pre ng-show="chances > 0">You can try {{chances || 'no'}} more time<span ng-show="chances > 1">s</span></pre>
		<div class="failure-close-btn-wrapper">
			<!-- <button class="btn" ng-click="rechance()" ng-show="chances" ng-disabled="chances==0">Retry</button> -->
			<button class="btn" ng-click="failure=null; reset();">Close</button>
		</div>
	</div>
</section>
<style type="text/css">
	body {
		background-color: #222222; 
		color: #FFFFFF;
	}
	.params {
		width: 550px;
		margin: 10px auto;
	}
	.params > div {
		display: inline-block;
		vertical-align: middle;
		margin: 0 5px;
	}
	.time-claim-wrapper {
		width: 300px;
		margin: auto;;
	}
	.grid-size, .n, .chances, .time-claim {
		width: 50px;
		height: 30px;
		border-radius: 3px;
		border: none;
		text-align: center;
	}
	.grid-wrapper {
		overflow: hidden;
		margin-top: 5px; 
	}
	.cell {
		float: left;
		width: 74px;
		height: 74px;
		border-right: 1px solid #777777;
		border-bottom:  1px solid #777777;
		background-color: #FFFFFF;
		cursor: pointer;
	}
	.cell-row {
		clear: both;
		margin: auto;
	}
	.countdown-label {
		text-align: center;
	}
	.countdown-wrapper {
		width: 70px;
		margin: auto;
	}
	.countdown-wrapper > div {
		display: inline-block;
		vertical-align: middle;
	}
	.time-ss {
		overflow: hidden;
		text-align: center;
		width: 70px;
		height: 30px;
		margin: 2px;
		padding-top: 5px;
		box-sizing: border-box;
		background-color: #FFFFFF;
		color: #000000;
		border-radius: 3px;
	}
	.success-message, .failure-message {
		width: 500px;
		padding: 10px;
		position: absolute;
		left: 50%;
		top: 50%;
		/*margin: 20px auto;*/
		margin: -50px 0 0 -250px;
		color:#FFFFFF;
		background-color: #333333;
		border: 2px solid #FFFFFF;
		text-align: center;
	}
	.success-message {
		height: 80px;
	}
	.failure-message {
		height: 100px;
	}
	.close-btn-wrapper {
		width: 100px;
		margin: 10px auto;
	}
	.failure-close-btn-wrapper {
		width: 220px;
		margin: 10px auto;
	}
	.btn {
		border: none;
		background-color: #FFFFFF;
		color: #333333;
		width: 100px;
		height: 30px;
		text-align: center;
		cursor: pointer;
	}
</style>
